@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <a href="~/Views/Home/Landing.cshtml">~/Views/Home/Landing.cshtml</a>
    <div>

    </div>
</body>
</html>
