/* volunteer.css */

/* Style for the shadow box */
.shadow-boxshubhu {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
  }
  
  /* Style for input fields */
  .input-field {
    padding: 10px;
    margin: 5px;
    width: 100%; /* Make the input fields expand to their container's width */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for submit button */
  .bottom-button1shubhu {
    background-color: #054a34;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  /* Optional: Add more styles as needed */
  