.floatleftdonS{
    float: left;
    height: 100%;
    background:gray;
    width: 200px;
}

.floatrightdonS{
    float: right;
    height: 100%;
    background:gray;
    width: 200px;

}
.input-field {
    padding: 10px;
    margin: 5px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.bottom-button1shubhu {
    background-color: #054a34;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Adjust margin as needed */
}