@model List<AdminSide.Models.ReportViewModel>

@{
    ViewBag.Title = "High-Level Report";
    var totalContribution = TempData["TotalContribution"] as decimal? ?? 0;
}

<h2>High-Level Report</h2>
<table>
    <thead>
        <tr>
            <th>Profile</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model)
        {
            <tr>
                <td>Total @entry.RoleName</td>
           
                <td>@entry.Count</td>
            </tr>
        }
        <tr>
            <td>
                Total contribution Collected
            </td>
            <td>
                @totalContribution
            </td>
        </tr>
    </tbody>
</table>
