/*
css for otp varification
*/

/* for the css of Donar's dashboard
*/

.floatleftdonS{
    float: left;
    height: 100%;
    background:gray;
    width: 200px;
}

.floatrightdonS{
    float: right;
    height: 100%;
    background:gray;
    width: 200px;

}
/* for the css of Donar's profile
*/
.input-containershubhu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: 200px;
}

.input-fieldshubhu {
    padding: 10px;
    margin: 5px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.bottom-button1shubhu {
    background-color: #054a34;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Adjust margin as needed */
}

.button-containershubhu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}
.shadow-boxshubhu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px; /* Adjust the padding as needed */
    background-color: white; /* Adjust the background color as needed */
    border-radius: 10px;
    margin: 30px; /* Adjust the margin as needed */
    height: 900px;
}


.table-responsiveshubhu {
    position: relative;
}

.campaign-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
.ftr {
    height: 30px;
    background-color:rgb(12, 14, 12);
}



.content{
    margin: 5px;
    text-align: center;
    height: 200px;
    width: 200px;
    border : 2px solid black;
    background-color: gold;
}

.img{
    height: 100px;
    width: 100px;
}
/* .quote {
    display: block;
    text-align: center;
}
.black-link {
    color: black;
    text-decoration: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 200px; 
    padding: 20px;
}
.bottom-button {
    background-color:rgb(16, 135, 174);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
.quote-header {
    white-space: nowrap;
}

.quote {
    display: inline-block;
    text-align: center;
}

.left-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px; 
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.button-space {
    flex-grow: 1;
}


.quote-header {
    white-space: nowrap;
}

.quote {
    display: inline-block;
    text-align: center;
}

.right-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px; /* Adjust margin as needed */


/* .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.bottom-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Adjust margin as needed */


/* .button-space {
    flex-grow: 1;
}  */

/* Rest of the CSS remains the same */
.quote-header {
    white-space: nowrap;
}

.quote {
    display: inline-block;
    text-align: center;
}

.right-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px; /* Adjust margin as needed */
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.bottom-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Adjust margin as needed */
}

.button-space {
    flex-grow: 1;
}
.black-link {
    color: black;
    text-decoration: none;
}
.myDivStyle {
    padding: 20px;
    background-color: #f5f5f5;
}

.campaign-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.campaign-table th, .campaign-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}




.campaign-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.campaign-table th, .campaign-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.campaign-table th {
    background-color: #f2f2f2;
}

.table-responsive {
    position: relative;
}

.bottom-anchor {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
}

.bottom-right-anchor {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    right: 20px;
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: 100px;
}

.input-field {
    padding: 10px;
    margin: 5px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.bottom-button1 {
    background-color: #054a34;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Adjust margin as needed */
}


.floatleft{
    float: left;
    height: 100%;
    background:gray;
    width: 200px;
}

.floatright{
    float: right;
    height: 100%;
    background:gray;
    width: 200px;

}

.width100{
    width: 100%;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* LoginForm  CSS style */
  .login-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: green;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }



  /* CampaignSlider styles */
.campaign-slider {
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .campaign-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .campaign-item {
    width: calc(20% - 20px); /* Adjust the width as needed */
    border: 2px solid green; /* Green border */
    padding: 20px;
    margin: 5px; /* Reduced margin for closer spacing */
    text-align: left;
  }
  
  .campaign-item img {
    max-width: 100%;
    height: auto;
    border: 2px solid black; /* Black border around images */
  }
  
  .progress {
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    background-color: green; /* Green color */
  }
  
  .carousel-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center the buttons */
    margin-top: 10px; /* Reduced margin for buttons */
  }
  
  .btn-prev,
  .btn-next {
    font-size: 12px;
    padding: 5px 10px;
    width: 100px; /* Adjust the width as needed */
  }
  
  .btn-prev {
    margin-left: 10px; /* Reduced margin */
  }
  
  .btn-next {
    margin-right: 10px; /* Reduced margin */
  }


.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    border-color: black;
  
}

.input-field {
    padding: 10px;
    margin: 5px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.registration-form {
    margin-top: 200px;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .form-group {
    margin-bottom: 15px;
    }
    
    label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    
    button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    }
    
    button:hover {
    background-color: #0056b3;
    }
    
    a {
    color: #007bff;
    text-decoration: none;
    }
    
    a:hover {
    text-decoration: underline;
    }

    .redlink{
        color: green;
    }
    .login-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      
      
      
      .form-group {
        margin-bottom: 15px;
      }
      
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }
      
      input[type="email"],
      input[type="password"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
      
      .login-button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: green;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
      
      .login-button:hover {
        background-color: green;
      }
      
      a {
        color: #007bff;
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: underline;
      }
      




      .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
    
        border: solid;
        border-color: rgb(207, 66, 66)
    }
    
    .input-field {
        padding: 10px;
        margin: 5px;
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .bottom-button1 {
        background-color: #054a34;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        margin-right: 10px; /* Adjust margin as needed */
    }
    
    
    
    
    .floatright{
        float: right;
        height: 100%;
        background:lightgray;
        width: 300px;
    
    }

      .floatleft{
        float: left;
        height: 100%;
        background: lightgray;
        width: 300px;
    }
/*
css for the donar's profile
*/
.shadow-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px; /* Adjust the padding as needed */
    background-color: white; /* Adjust the background color as needed */
    border-radius: 10px;
    margin: 30px; /* Adjust the margin as needed */
    height: 900px;
}
.bottom-button1 {
    background-color: #054a34;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Adjust margin as needed */
}

.input-field {
    padding: 10px;
    margin: 5px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}


/* .quote {
    display: block;
    text-align: center;
}
.black-link {
    color: black;
    text-decoration: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 200px; 
    padding: 20px;
}
.bottom-button {
    background-color:rgb(16, 135, 174);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
.quote-header {
    white-space: nowrap;
}

.quote {
    display: inline-block;
    text-align: center;
}

.left-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px; 
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.button-space {
    flex-grow: 1;
}


.quote-header {
    white-space: nowrap;
}

.quote {
    display: inline-block;
    text-align: center;
}

.right-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px; /* Adjust margin as needed */


/* .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.bottom-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Adjust margin as needed */


/* .button-space {
    flex-grow: 1;
}  */

/* Rest of the CSS remains the same */
